footer {
  position: relative;
}

.footer-div {
  padding: 100px 0 10px 0;
  margin: 0;
  position: relative;
  background-color: #00b8de;
}

.footer-div .footer-content-row {
  padding: 40px 0 60px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-div .footer-content-row .about-desc-footer-div {
  padding: 0 10px 0 0;
  margin: 0 0 20px 0;
  position: relative;
  max-width: 360px;
}

.footer-div .footer-content-row .about-desc-footer-div .footer-logo-thumb {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.footer-div .footer-content-row .about-desc-footer-div .footer-logo-thumb .footer-logo {
  height: 67px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-div .footer-content-row .about-desc-footer-div h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  letter-spacing: 0;
  margin: 0 0 10px 0;
}

.footer-div .footer-content-row .about-desc-footer-div p {
  opacity: 0.71;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0;
  line-height: 1.5;
}

.footer-div .footer-content-row .footer-nav-list-inner {
  padding: 100px 0 0 0;
}

.footer-div .footer-content-row .footer-nav-list-inner .footer-nav-list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  position: relative;
}

.footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul li .link {
  font-weight: 700;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0 0 11px 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  display: block;
}

.footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul li .link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-div .footer-content-row .footer-nav-list-inner .social-list-ul li .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-div .footer-content-row .footer-nav-list-inner .social-list-ul li .link .span-icon {
  font-size: 18px;
  width: 20px;
}

.footer-div .footer-content-row .footer-nav-list-inner .social-list-ul li .link .txt {
  max-width: calc(100% - 20px);
  padding: 0 0 0 10px;
}

.footer-div .footer-copyright-div .footer-copyright-box-root {
  padding: 20px 0 10px 0;
  margin: 0;
  width: 100%;
}

.footer-div .footer-copyright-div .footer-copyright-box-root p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0 0 0 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  text-align: center;
  display: block;
}

.footer-div .footer-copyright-div .footer-copyright-box-root p a {
  color: inherit;
}

@media (max-width: 767px) {
  .footer-div {
    padding: 30px 0 5px 0;
  }
  .footer-div .footer-content-row {
    padding: 40px 0 10px 0;
  }
  .footer-div .footer-content-row .footer-nav-list-inner {
    padding: 15px 0 0 0;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul {
    margin: 0 0 25px 0;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul li .link {
    font-size: 12px;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .social-list-ul li .link .span-icon {
    font-size: 16px;
    width: 16px;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .social-list-ul li .link .txt {
    max-width: calc(100% - 16px);
  }
  .footer-div .footer-copyright-div .footer-copyright-box-root {
    padding: 10px 0 5px 0;
  }
  .footer-div .footer-copyright-div .footer-copyright-box-root p {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-div {
    padding: 30px 0 5px 0;
  }
  .footer-div .footer-content-row {
    padding: 40px 0 10px 0;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul {
    margin: 0 0 25px 0;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .footer-list-ul li .link {
    font-size: 12px;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .social-list-ul li .link .span-icon {
    font-size: 16px;
    width: 16px;
  }
  .footer-div .footer-content-row .footer-nav-list-inner .social-list-ul li .link .txt {
    max-width: calc(100% - 16px);
  }
  .footer-div .footer-copyright-div .footer-copyright-box-root {
    padding: 10px 0 5px 0;
  }
  .footer-div .footer-copyright-div .footer-copyright-box-root p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=footer.css.map */