footer {
  position: relative;
}

.footer-div {
  padding: 100px 0 10px 0;
  margin: 0;
  position: relative;
  background-color: #00b8de;

  .footer-content-row {
    padding: 40px 0 60px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .about-desc-footer-div {
      padding: 0 10px 0 0;
      margin: 0 0 20px 0;
      position: relative;
      max-width: 360px;

      .footer-logo-thumb {
        padding: 0;
        margin: 0 0 30px 0;
        position: relative;

        .footer-logo {
          height: 67px;
          object-fit: contain;
        }
      }

      h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
        color: #fff;
        letter-spacing: 0;
        margin: 0 0 10px 0;
      }

      p {
        opacity: 0.71;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.9);
        letter-spacing: 0;
        line-height: 1.5;
      }
    }

    .footer-nav-list-inner {
      padding: 100px 0 0 0;

      .footer-nav-list-row {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        position: relative;
      }

      .footer-list-ul {
        li {
          .link {
            font-weight: 700;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.9);
            letter-spacing: 0;
            line-height: 1.5;
            margin: 0 0 11px 0;
            transition: all 0.8s;
            display: block;

            &:hover {
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }
      }

      .social-list-ul {
        li {
          .link {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .span-icon {
              font-size: 18px;
              width: 20px;
            }

            .txt {
              max-width: calc(100% - 20px);
              padding: 0 0 0 10px;
            }
          }
        }
      }
    }
  }

  .footer-copyright-div {
    .footer-copyright-box-root {
      padding: 20px 0 10px 0;
      margin: 0;
      width: 100%;

      p {
        font-weight: 400;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.6);
        letter-spacing: 0;
        line-height: 1.5;
        margin: 0 0 0 0;
        transition: all 0.8s;
        text-align: center;
        display: block;

        a {
          color: inherit;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer-div {
    padding: 30px 0 5px 0;

    .footer-content-row {
      padding: 40px 0 10px 0;

      .footer-nav-list-inner {
        padding: 15px 0 0 0;

        .footer-list-ul {
          margin: 0 0 25px 0;

          li {
            .link {
              font-size: 12px;
            }
          }
        }

        .social-list-ul {
          li {
            .link {
              .span-icon {
                font-size: 16px;
                width: 16px;
              }

              .txt {
                max-width: calc(100% - 16px);
              }
            }
          }
        }
      }
    }

    .footer-copyright-div {
      .footer-copyright-box-root {
        padding: 10px 0 5px 0;

        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-div {
    padding: 30px 0 5px 0;

    .footer-content-row {
      padding: 40px 0 10px 0;

      .footer-nav-list-inner {
        .footer-list-ul {
          margin: 0 0 25px 0;

          li {
            .link {
              font-size: 12px;
            }
          }
        }

        .social-list-ul {
          li {
            .link {
              .span-icon {
                font-size: 16px;
                width: 16px;
              }

              .txt {
                max-width: calc(100% - 16px);
              }
            }
          }
        }
      }
    }

    .footer-copyright-div {
      .footer-copyright-box-root {
        padding: 10px 0 5px 0;

        p {
          font-size: 14px;
        }
      }
    }
  }
}
