html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ul,
ol {
  list-style: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #fafafa;
  scroll-behavior: smooth;
  font-family: "Proxima Nova Rg", sans-serif;
}

.wrapper {
  background-color: #fafafa;
  display: block;
  height: 100%;
  min-height: 100vh;
}

.wrapper .btn.focus,
.wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  max-width: 1230px;
}

.container-1030 {
  max-width: 1030px;
}

.container-lg {
  max-width: 1280px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

.menu-icon-hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23131727' stroke='%23131727' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

/* BG ICON */
.bg-custom-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.cloud-icon {
  width: 24px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='16px' viewBox='0 0 24 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecloud-icon%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M19.35,6.04 C18.67,2.59 15.64,0 12,0 C9.11,0 6.6,1.64 5.35,4.04 C2.34,4.36 0,6.91 0,10 C0,13.31 2.69,16 6,16 L19,16 C21.76,16 24,13.76 24,11 C24,8.36 21.95,6.22 19.35,6.04 Z' id='cloud-icon' fill='%2300B8DE' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.big-data-icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ebig-data-icon%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='big-data-icon' fill='%2300B8DE' fill-rule='nonzero'%3E%3Cpath d='M1.7578125,13.7578125 C2.4785625,13.7578125 3.09764063,13.3238438 3.36895313,12.703125 L5.1088125,12.703125 C5.27053125,12.1704375 5.56626562,11.6856094 5.9626875,11.296875 L3.36895313,11.296875 C3.0976875,10.6761563 2.4785625,10.2421875 1.7578125,10.2421875 C0.786984375,10.2421875 3.33066907e-16,11.0291719 3.33066907e-16,12 C3.33066907e-16,12.9708281 0.786984375,13.7578125 1.7578125,13.7578125 Z' id='Path'%3E%3C/path%3E%3Cpath d='M22.2421875,10.2421875 C21.5214375,10.2421875 20.9023594,10.6761563 20.6310469,11.296875 L18.042375,11.296875 C18.4372031,11.6843438 18.7323281,12.1680938 18.8931562,12.703125 L20.631,12.703125 C20.9022656,13.3238438 21.5213906,13.7578125 22.2421406,13.7578125 C23.2129687,13.7578125 23.9999531,12.9708281 23.9999531,12 C23.9999531,11.0291719 23.2130156,10.2421875 22.2421875,10.2421875 L22.2421875,10.2421875 Z' id='Path'%3E%3C/path%3E%3Cpath d='M4.97835938,5.97271875 L7.52765625,8.52201562 C7.8294375,8.15845313 8.19389062,7.84865625 8.60517187,7.6108125 L5.97276562,4.97835938 C6.21984375,4.34760938 6.08896875,3.603 5.57929687,3.09332813 C4.8928125,2.40684375 3.77985938,2.40684375 3.093375,3.09332813 C2.40689062,3.7798125 2.40689063,4.89276563 3.093375,5.57925 C3.603,6.08892188 4.34760938,6.21984375 4.97835938,5.97271875 Z' id='Path'%3E%3C/path%3E%3Cpath d='M19.0216406,18.0272812 L17.4440625,16.4497031 C16.9955625,16.7212031 16.4772656,16.8883594 15.9229219,16.9172813 L18.0272813,19.0216406 C17.7802031,19.6523906 17.911125,20.397 18.42075,20.9066719 C19.1072344,21.5931563 20.2201875,21.5931563 20.9066719,20.9066719 C21.5931563,20.2201875 21.5931563,19.1072344 20.9066719,18.42075 C20.397,17.9110781 19.6523906,17.7801563 19.0216406,18.0272813 L19.0216406,18.0272812 Z' id='Path'%3E%3C/path%3E%3Cpath d='M11.296875,3.36895312 L11.296875,7.14182812 C11.7959531,7.23234375 12.2733281,7.41853125 12.703125,7.68759375 L12.703125,3.36895312 C13.3238438,3.0976875 13.7578125,2.4785625 13.7578125,1.7578125 C13.7578125,0.786984375 12.9708281,-1.33226763e-15 12,-1.33226763e-15 C11.0291719,-1.33226763e-15 10.2421875,0.786984375 10.2421875,1.7578125 C10.2421875,2.4785625 10.6761563,3.09764062 11.296875,3.36895312 Z' id='Path'%3E%3C/path%3E%3Cpath d='M12.703125,20.6310469 L12.703125,16.921875 L11.296875,16.921875 L11.296875,20.6310469 C10.6761563,20.9023125 10.2421875,21.5214375 10.2421875,22.2421875 C10.2421875,23.2130156 11.0291719,24 12,24 C12.9708281,24 13.7578125,23.2130156 13.7578125,22.2421875 C13.7578125,21.5214375 13.3238438,20.9023594 12.703125,20.6310469 Z' id='Path'%3E%3C/path%3E%3Cpath d='M16.1045156,8.88989062 L21.6002344,3.394125 C21.7991719,3.47226563 22.0155469,3.515625 22.2421875,3.515625 C23.2130156,3.515625 24,2.72864063 24,1.7578125 C24,0.786984375 23.2130156,6.66133815e-16 22.2421875,6.66133815e-16 C21.2713594,6.66133815e-16 20.484375,0.786984375 20.484375,1.7578125 C20.484375,1.98445313 20.5277344,2.200875 20.605875,2.3998125 L14.8412812,8.16435937 C15.3052031,8.307 15.7390312,8.55178125 16.1045156,8.88989062 Z' id='Path'%3E%3C/path%3E%3Cpath d='M6.5559375,16.4496563 L2.39976563,20.6058281 C2.20082813,20.5277344 1.98445313,20.484375 1.7578125,20.484375 C0.786984375,20.484375 6.66133815e-16,21.2713594 6.66133815e-16,22.2421875 C6.66133815e-16,23.2130156 0.786984375,24 1.7578125,24 C2.72864063,24 3.515625,23.2130156 3.515625,22.2421875 C3.515625,22.0155469 3.47226563,21.799125 3.394125,21.6001875 L8.07707813,16.9172344 C7.52273438,16.8883594 7.0044375,16.7211562 6.5559375,16.4496563 L6.5559375,16.4496563 Z' id='Path'%3E%3C/path%3E%3Cpath d='M17.625,13.640625 C17.625,12.804 17.0622656,12.0615 16.2565312,11.8350469 C15.9668906,11.7536719 15.7612031,11.4970312 15.7447031,11.1966563 C15.7192031,10.7314687 15.5260312,10.2962344 15.2008125,9.9710625 C14.6946094,9.46485937 13.9317656,9.29048438 13.2572344,9.52692188 C12.990375,9.62039063 12.69375,9.54510938 12.5039062,9.3358125 C12.0129375,8.79473438 11.3167031,8.484375 10.59375,8.484375 C9.17217187,8.484375 8.015625,9.64092188 8.015625,11.0625 C8.015625,11.1081563 8.01689062,11.1544687 8.01946875,11.2002187 C8.03639062,11.5038281 7.85634375,11.7839062 7.57307812,11.8944375 C6.85645312,12.1740938 6.375,12.8758125 6.375,13.640625 C6.375,14.6745 7.216125,15.515625 8.25,15.515625 L15.75,15.515625 C16.783875,15.515625 17.625,14.6745 17.625,13.640625 L17.625,13.640625 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.cloud-computing-icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecloud-computing-icon%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='cloud-computing-icon' fill='%2300B8DE' fill-rule='nonzero'%3E%3Cpath d='M18.2459062,4.25690625 C16.9357969,1.65801563 14.1785625,0.00178125 11.25,0.00178125 C7.17201562,0.00178125 3.82120313,3.17409375 3.54103125,7.24176563 C1.45842187,7.84467188 0,9.790125 0,12.0017813 C0,14.7154219 2.20823437,16.9236563 4.921875,16.9236563 L5.45910937,16.9236563 C5.11673438,16.0506562 4.921875,15.1041094 4.921875,14.1111563 C4.921875,9.84642188 8.48526563,6.32990625 12.75,6.32990625 C17.0147344,6.32990625 20.484375,9.84642188 20.484375,14.1111563 C20.484375,14.8962656 20.3649844,15.653625 20.1465469,16.3681406 C22.4117813,15.4050938 24,13.1500312 24,10.5486563 C24,7.28573437 21.4573594,4.55151563 18.2459062,4.25690625 Z' id='Path'%3E%3C/path%3E%3Cpath d='M21.9503437,20.3987812 L19.4726719,17.9211094 C18.7650937,19.1647031 17.7262969,20.1954375 16.4725312,20.8869844 L18.9675469,23.3829375 C19.7908594,24.2034844 21.1276875,24.2034844 21.9503437,23.3822344 C22.7729531,22.559625 22.7729531,21.2213437 21.9503437,20.3987812 Z' id='Path'%3E%3C/path%3E%3Cpath d='M12.75,7.73615625 C9.26048438,7.73615625 6.328125,10.6216406 6.328125,14.1111562 C6.328125,18.5316562 11.0862656,21.8578594 15.4157344,19.8299531 C17.5717969,18.8202656 19.078125,16.6452656 19.078125,14.1111562 C19.078125,10.6216406 16.2395156,7.73615625 12.75,7.73615625 Z M12.7383281,17.6185781 C10.7023125,17.6185781 9.140625,15.8575312 9.140625,14.1112031 C9.140625,12.1727812 10.8115781,10.5487031 12.75,10.5487031 C14.6884219,10.5487031 16.265625,12.1727812 16.265625,14.1112031 C16.265625,16.0408594 14.6466562,17.6185781 12.7383281,17.6185781 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.database-icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Edatabase-icon%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='database-icon' fill='%2300B8DE' fill-rule='nonzero'%3E%3Cpath d='M10.0574341,16.5133667 C6.83605959,16.7122193 2.31005859,16.4771118 0,15.4749756 L0,19.4959717 C0,19.7686157 0.150695812,20.0214844 0.394592297,20.1434326 C1.80963136,20.8513184 6.08789063,21.4595948 10.6008911,21.088623 C9.92669677,19.6157227 9.77105714,17.9996338 10.0574341,16.5133667 L10.0574341,16.5133667 Z' id='Path'%3E%3C/path%3E%3Cpath d='M15.6269531,10.6311035 L15.6269531,9.067749 C12.2250366,10.545044 3.38946534,10.5380859 0,9.067749 L0,13.7964478 C0.709899891,14.5817871 5.37506105,15.4264526 10.5115357,15.0203247 C11.4147949,12.8783569 13.298584,11.2144776 15.6269531,10.6311035 L15.6269531,10.6311035 Z' id='Path'%3E%3C/path%3E%3Cpath d='M15.6269531,7.38903806 L15.6269531,2.85314944 C12.2449951,4.32202148 3.4152832,4.33099364 0,2.85314944 L0,7.38903806 C1.64172366,9.19500731 14.1124878,9.07012941 15.6269531,7.38903806 Z' id='Path'%3E%3C/path%3E%3Cpath d='M15.1992187,1.02850341 C12.5289917,-0.334350562 3.10546875,-0.3515625 0.424987781,1.02905273 C0.250854469,1.11877444 0.250854469,1.36944581 0.424804687,1.4595337 C3.11297606,2.84967042 12.5430908,2.81085206 15.1992187,1.45935056 C15.3742676,1.37017823 15.3742676,1.11785888 15.1992187,1.02850341 Z' id='Path'%3E%3C/path%3E%3Cpath d='M17.4603882,11.8623047 C12.4612427,11.8623047 9.5923462,17.6090698 12.5853882,21.5875854 C12.6101074,19.9702148 13.5216065,18.5002441 14.9371948,17.7418213 C14.5838013,17.1835327 14.4265137,16.5256348 14.4907837,15.8620605 C14.6330566,14.366272 15.9050903,13.1669311 17.4609375,13.1669311 C19.105957,13.1669311 20.444458,14.5056152 20.444458,16.1511841 C20.444458,16.7354737 20.2754517,17.281311 19.9841309,17.7418213 C21.3619995,18.4801026 22.3081055,19.9240723 22.3359375,21.5875854 C23.1154175,20.5495605 23.5433349,19.2833862 23.5433349,17.9452515 C23.5433349,14.5909424 20.8146973,11.8623047 17.4603882,11.8623047 L17.4603882,11.8623047 Z' id='Path'%3E%3C/path%3E%3Cpath d='M18.8018189,18.8161011 C17.9606323,19.241272 16.9616089,19.2425537 16.1193237,18.8161011 C14.9150391,19.2017212 14.041626,20.333313 14.041626,21.6633911 L14.041626,22.9766235 C15.4616089,24.3619995 19.5109863,24.3200684 20.8796997,22.9766235 L20.8796997,21.6633911 C20.8796997,20.3323974 20.0059204,19.2022705 18.8018189,18.8161011 L18.8018189,18.8161011 Z' id='Path'%3E%3C/path%3E%3Cpath d='M17.4609375,17.6781006 C18.3023071,17.6781006 18.9874878,16.9925537 18.9874878,16.151001 C18.9874878,15.3088989 18.3026733,14.6240845 17.4609375,14.6240845 C16.6213989,14.6240845 15.9338379,15.3065185 15.9338379,16.151001 C15.9338379,16.9899902 16.6160888,17.6781006 17.4609375,17.6781006 L17.4609375,17.6781006 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.services-card-box:hover .cloud-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='16px' viewBox='0 0 24 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecloud-icon copy%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M19.35,6.04 C18.67,2.59 15.64,0 12,0 C9.11,0 6.6,1.64 5.35,4.04 C2.34,4.36 0,6.91 0,10 C0,13.31 2.69,16 6,16 L19,16 C21.76,16 24,13.76 24,11 C24,8.36 21.95,6.22 19.35,6.04 Z' id='cloud-icon-copy' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.services-card-box:hover .big-data-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ebig-data-icon copy%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='big-data-icon-copy' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M1.7578125,13.7578125 C2.4785625,13.7578125 3.09764063,13.3238438 3.36895313,12.703125 L5.1088125,12.703125 C5.27053125,12.1704375 5.56626562,11.6856094 5.9626875,11.296875 L3.36895313,11.296875 C3.0976875,10.6761563 2.4785625,10.2421875 1.7578125,10.2421875 C0.786984375,10.2421875 3.33066907e-16,11.0291719 3.33066907e-16,12 C3.33066907e-16,12.9708281 0.786984375,13.7578125 1.7578125,13.7578125 Z' id='Path'%3E%3C/path%3E%3Cpath d='M22.2421875,10.2421875 C21.5214375,10.2421875 20.9023594,10.6761563 20.6310469,11.296875 L18.042375,11.296875 C18.4372031,11.6843438 18.7323281,12.1680938 18.8931562,12.703125 L20.631,12.703125 C20.9022656,13.3238438 21.5213906,13.7578125 22.2421406,13.7578125 C23.2129687,13.7578125 23.9999531,12.9708281 23.9999531,12 C23.9999531,11.0291719 23.2130156,10.2421875 22.2421875,10.2421875 L22.2421875,10.2421875 Z' id='Path'%3E%3C/path%3E%3Cpath d='M4.97835938,5.97271875 L7.52765625,8.52201562 C7.8294375,8.15845313 8.19389062,7.84865625 8.60517187,7.6108125 L5.97276562,4.97835938 C6.21984375,4.34760938 6.08896875,3.603 5.57929687,3.09332813 C4.8928125,2.40684375 3.77985938,2.40684375 3.093375,3.09332813 C2.40689062,3.7798125 2.40689063,4.89276563 3.093375,5.57925 C3.603,6.08892188 4.34760938,6.21984375 4.97835938,5.97271875 Z' id='Path'%3E%3C/path%3E%3Cpath d='M19.0216406,18.0272812 L17.4440625,16.4497031 C16.9955625,16.7212031 16.4772656,16.8883594 15.9229219,16.9172813 L18.0272813,19.0216406 C17.7802031,19.6523906 17.911125,20.397 18.42075,20.9066719 C19.1072344,21.5931563 20.2201875,21.5931563 20.9066719,20.9066719 C21.5931563,20.2201875 21.5931563,19.1072344 20.9066719,18.42075 C20.397,17.9110781 19.6523906,17.7801563 19.0216406,18.0272813 L19.0216406,18.0272812 Z' id='Path'%3E%3C/path%3E%3Cpath d='M11.296875,3.36895312 L11.296875,7.14182812 C11.7959531,7.23234375 12.2733281,7.41853125 12.703125,7.68759375 L12.703125,3.36895312 C13.3238438,3.0976875 13.7578125,2.4785625 13.7578125,1.7578125 C13.7578125,0.786984375 12.9708281,-1.33226763e-15 12,-1.33226763e-15 C11.0291719,-1.33226763e-15 10.2421875,0.786984375 10.2421875,1.7578125 C10.2421875,2.4785625 10.6761563,3.09764062 11.296875,3.36895312 Z' id='Path'%3E%3C/path%3E%3Cpath d='M12.703125,20.6310469 L12.703125,16.921875 L11.296875,16.921875 L11.296875,20.6310469 C10.6761563,20.9023125 10.2421875,21.5214375 10.2421875,22.2421875 C10.2421875,23.2130156 11.0291719,24 12,24 C12.9708281,24 13.7578125,23.2130156 13.7578125,22.2421875 C13.7578125,21.5214375 13.3238438,20.9023594 12.703125,20.6310469 Z' id='Path'%3E%3C/path%3E%3Cpath d='M16.1045156,8.88989062 L21.6002344,3.394125 C21.7991719,3.47226563 22.0155469,3.515625 22.2421875,3.515625 C23.2130156,3.515625 24,2.72864063 24,1.7578125 C24,0.786984375 23.2130156,6.66133815e-16 22.2421875,6.66133815e-16 C21.2713594,6.66133815e-16 20.484375,0.786984375 20.484375,1.7578125 C20.484375,1.98445313 20.5277344,2.200875 20.605875,2.3998125 L14.8412812,8.16435937 C15.3052031,8.307 15.7390312,8.55178125 16.1045156,8.88989062 Z' id='Path'%3E%3C/path%3E%3Cpath d='M6.5559375,16.4496563 L2.39976563,20.6058281 C2.20082813,20.5277344 1.98445313,20.484375 1.7578125,20.484375 C0.786984375,20.484375 6.66133815e-16,21.2713594 6.66133815e-16,22.2421875 C6.66133815e-16,23.2130156 0.786984375,24 1.7578125,24 C2.72864063,24 3.515625,23.2130156 3.515625,22.2421875 C3.515625,22.0155469 3.47226563,21.799125 3.394125,21.6001875 L8.07707813,16.9172344 C7.52273438,16.8883594 7.0044375,16.7211562 6.5559375,16.4496563 L6.5559375,16.4496563 Z' id='Path'%3E%3C/path%3E%3Cpath d='M17.625,13.640625 C17.625,12.804 17.0622656,12.0615 16.2565312,11.8350469 C15.9668906,11.7536719 15.7612031,11.4970312 15.7447031,11.1966563 C15.7192031,10.7314687 15.5260312,10.2962344 15.2008125,9.9710625 C14.6946094,9.46485937 13.9317656,9.29048438 13.2572344,9.52692188 C12.990375,9.62039063 12.69375,9.54510938 12.5039062,9.3358125 C12.0129375,8.79473438 11.3167031,8.484375 10.59375,8.484375 C9.17217187,8.484375 8.015625,9.64092188 8.015625,11.0625 C8.015625,11.1081563 8.01689062,11.1544687 8.01946875,11.2002187 C8.03639062,11.5038281 7.85634375,11.7839062 7.57307812,11.8944375 C6.85645312,12.1740938 6.375,12.8758125 6.375,13.640625 C6.375,14.6745 7.216125,15.515625 8.25,15.515625 L15.75,15.515625 C16.783875,15.515625 17.625,14.6745 17.625,13.640625 L17.625,13.640625 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.services-card-box:hover .cloud-computing-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecloud-computing-icon copy%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='cloud-computing-icon-copy' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M18.2459062,4.25690625 C16.9357969,1.65801563 14.1785625,0.00178125 11.25,0.00178125 C7.17201562,0.00178125 3.82120313,3.17409375 3.54103125,7.24176563 C1.45842187,7.84467188 0,9.790125 0,12.0017813 C0,14.7154219 2.20823437,16.9236563 4.921875,16.9236563 L5.45910937,16.9236563 C5.11673438,16.0506562 4.921875,15.1041094 4.921875,14.1111563 C4.921875,9.84642188 8.48526563,6.32990625 12.75,6.32990625 C17.0147344,6.32990625 20.484375,9.84642188 20.484375,14.1111563 C20.484375,14.8962656 20.3649844,15.653625 20.1465469,16.3681406 C22.4117813,15.4050938 24,13.1500312 24,10.5486563 C24,7.28573437 21.4573594,4.55151563 18.2459062,4.25690625 Z' id='Path'%3E%3C/path%3E%3Cpath d='M21.9503437,20.3987812 L19.4726719,17.9211094 C18.7650937,19.1647031 17.7262969,20.1954375 16.4725312,20.8869844 L18.9675469,23.3829375 C19.7908594,24.2034844 21.1276875,24.2034844 21.9503437,23.3822344 C22.7729531,22.559625 22.7729531,21.2213437 21.9503437,20.3987812 Z' id='Path'%3E%3C/path%3E%3Cpath d='M12.75,7.73615625 C9.26048438,7.73615625 6.328125,10.6216406 6.328125,14.1111562 C6.328125,18.5316562 11.0862656,21.8578594 15.4157344,19.8299531 C17.5717969,18.8202656 19.078125,16.6452656 19.078125,14.1111562 C19.078125,10.6216406 16.2395156,7.73615625 12.75,7.73615625 Z M12.7383281,17.6185781 C10.7023125,17.6185781 9.140625,15.8575312 9.140625,14.1112031 C9.140625,12.1727812 10.8115781,10.5487031 12.75,10.5487031 C14.6884219,10.5487031 16.265625,12.1727812 16.265625,14.1112031 C16.265625,16.0408594 14.6466562,17.6185781 12.7383281,17.6185781 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.services-card-box:hover .database-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Edatabase-icon copy%3C/title%3E%3Cg id='Page-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='database-icon-copy' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M10.0574341,16.5133667 C6.83605959,16.7122193 2.31005859,16.4771118 0,15.4749756 L0,19.4959717 C0,19.7686157 0.150695812,20.0214844 0.394592297,20.1434326 C1.80963136,20.8513184 6.08789063,21.4595948 10.6008911,21.088623 C9.92669677,19.6157227 9.77105714,17.9996338 10.0574341,16.5133667 L10.0574341,16.5133667 Z' id='Path'%3E%3C/path%3E%3Cpath d='M15.6269531,10.6311035 L15.6269531,9.067749 C12.2250366,10.545044 3.38946534,10.5380859 0,9.067749 L0,13.7964478 C0.709899891,14.5817871 5.37506105,15.4264526 10.5115357,15.0203247 C11.4147949,12.8783569 13.298584,11.2144776 15.6269531,10.6311035 L15.6269531,10.6311035 Z' id='Path'%3E%3C/path%3E%3Cpath d='M15.6269531,7.38903806 L15.6269531,2.85314944 C12.2449951,4.32202148 3.4152832,4.33099364 0,2.85314944 L0,7.38903806 C1.64172366,9.19500731 14.1124878,9.07012941 15.6269531,7.38903806 Z' id='Path'%3E%3C/path%3E%3Cpath d='M15.1992187,1.02850341 C12.5289917,-0.334350562 3.10546875,-0.3515625 0.424987781,1.02905273 C0.250854469,1.11877444 0.250854469,1.36944581 0.424804687,1.4595337 C3.11297606,2.84967042 12.5430908,2.81085206 15.1992187,1.45935056 C15.3742676,1.37017823 15.3742676,1.11785888 15.1992187,1.02850341 Z' id='Path'%3E%3C/path%3E%3Cpath d='M17.4603882,11.8623047 C12.4612427,11.8623047 9.5923462,17.6090698 12.5853882,21.5875854 C12.6101074,19.9702148 13.5216065,18.5002441 14.9371948,17.7418213 C14.5838013,17.1835327 14.4265137,16.5256348 14.4907837,15.8620605 C14.6330566,14.366272 15.9050903,13.1669311 17.4609375,13.1669311 C19.105957,13.1669311 20.444458,14.5056152 20.444458,16.1511841 C20.444458,16.7354737 20.2754517,17.281311 19.9841309,17.7418213 C21.3619995,18.4801026 22.3081055,19.9240723 22.3359375,21.5875854 C23.1154175,20.5495605 23.5433349,19.2833862 23.5433349,17.9452515 C23.5433349,14.5909424 20.8146973,11.8623047 17.4603882,11.8623047 L17.4603882,11.8623047 Z' id='Path'%3E%3C/path%3E%3Cpath d='M18.8018189,18.8161011 C17.9606323,19.241272 16.9616089,19.2425537 16.1193237,18.8161011 C14.9150391,19.2017212 14.041626,20.333313 14.041626,21.6633911 L14.041626,22.9766235 C15.4616089,24.3619995 19.5109863,24.3200684 20.8796997,22.9766235 L20.8796997,21.6633911 C20.8796997,20.3323974 20.0059204,19.2022705 18.8018189,18.8161011 L18.8018189,18.8161011 Z' id='Path'%3E%3C/path%3E%3Cpath d='M17.4609375,17.6781006 C18.3023071,17.6781006 18.9874878,16.9925537 18.9874878,16.151001 C18.9874878,15.3088989 18.3026733,14.6240845 17.4609375,14.6240845 C16.6213989,14.6240845 15.9338379,15.3065185 15.9338379,16.151001 C15.9338379,16.9899902 16.6160888,17.6781006 17.4609375,17.6781006 L17.4609375,17.6781006 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* customs general css */
body {
  overflow-x: hidden;
}

.display_show {
  display: block;
}

.desktop-hidden {
  display: none;
}

.main-middle-area.pt-custom-0 {
  padding-top: 0;
}

.mlr-5 {
  margin-right: -5px !important;
  margin-left: -5px !important;
}

.plr-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.mlr-8 {
  margin-right: -8px !important;
  margin-left: -8px !important;
}

.plr-8 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.mlr-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.mlr-20 {
  margin-right: -20px !important;
  margin-left: -20px !important;
}

.plr-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.mr-10 {
  margin-right: 10px;
}

.btn.btn-common {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #262626;
  letter-spacing: 0;
  min-height: 50px;
  padding: 6px 30px 5px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  position: relative;
}

.btn.btn-common.min-width-230 {
  min-width: 230px;
}

.btn.btn-common:hover, .btn.btn-common:focus {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 0 5px 10px 0 rgba(19, 19, 19, 0);
          box-shadow: 0 5px 10px 0 rgba(19, 19, 19, 0);
}

.btn.btn-common-outline {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  min-height: 50px;
  padding: 6px 30px 5px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  position: relative;
}

.btn.btn-common-outline.min-width-180 {
  min-width: 180px;
}

.btn.btn-common-outline:hover, .btn.btn-common-outline:focus {
  background: transparent;
  color: #fff;
  border: 1px solid white;
  -webkit-box-shadow: 0 5px 10px 0 rgba(19, 19, 19, 0);
          box-shadow: 0 5px 10px 0 rgba(19, 19, 19, 0);
}

.btn-primary-outline {
  background: transparent;
  color: #444;
  border: 1px solid rgba(38, 38, 38, 0.2);
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  min-height: 50px;
  padding: 5px 30px 6px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  position: relative;
}

.btn-primary-outline.min-width-230 {
  min-width: 230px;
}

.btn-primary-outline:hover, .btn-primary-outline:focus {
  background: #444;
  color: #fff;
  border: 1px solid #444;
  -webkit-box-shadow: 0 5px 10px 0 rgba(19, 19, 19, 0);
          box-shadow: 0 5px 10px 0 rgba(19, 19, 19, 0);
}

.btn-primary-color {
  background: #00b8de;
  border: 1px solid #00b8de;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0;
  min-height: 50px;
  padding: 6px 30px 5px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  position: relative;
}

.btn-primary-color:hover, .btn-primary-color:focus {
  background: transparent;
  border: 1px solid #00b8de;
  color: #00b8de;
}

/* End of general css */
.main-middle-area {
  padding: 90px 0 0 0;
  position: relative;
}

@media (min-width: 1025px) {
  /* no css */
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .position-fixed-custom {
    overflow: hidden;
  }
  .position-fixed-remove .slideInDown {
    -webkit-animation: none;
            animation: none;
  }
  .main-middle-area {
    padding: 70px 0 0 0;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .position-fixed-custom {
    overflow: hidden;
  }
  .position-fixed-remove .slideInDown {
    -webkit-animation: none;
            animation: none;
  }
  .main-middle-area {
    padding: 70px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */