@charset "utf-8";

@import "./default-style";
@import "./custom-icons";

/* customs general css */

body {
  overflow-x: hidden;
}

.display_show {
  display: block;
}

.desktop-hidden {
  display: none;
}

.main-middle-area.pt-custom-0 {
  padding-top: 0;
}

.mlr-5 {
  margin-right: -5px !important;
  margin-left: -5px !important;
}

.plr-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.mlr-8 {
  margin-right: -8px !important;
  margin-left: -8px !important;
}

.plr-8 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.mlr-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.mlr-20 {
  margin-right: -20px !important;
  margin-left: -20px !important;
}

.plr-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.mr-10 {
  margin-right: 10px;
}

.btn.btn-common {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #262626;
  letter-spacing: 0;
  min-height: 50px;
  padding: 6px 30px 5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
  position: relative;

  &.min-width-230 {
    min-width: 230px;
  }

  &:hover,
  &:focus {
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.45);
    box-shadow: 0 5px 10px 0 rgba(19, 19, 19, 0);
  }
}

.btn.btn-common-outline {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  min-height: 50px;
  padding: 6px 30px 5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
  position: relative;

  &.min-width-180 {
    min-width: 180px;
  }

  &:hover,
  &:focus {
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 5px 10px 0 rgba(19, 19, 19, 0);
  }
}

.btn-primary-outline {
  background: transparent;
  color: #444;
  border: 1px solid rgba(38, 38, 38, 0.2);
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  min-height: 50px;
  padding: 5px 30px 6px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
  position: relative;

  &.min-width-230 {
    min-width: 230px;
  }

  &:hover,
  &:focus {
    background: #444;
    color: #fff;
    border: 1px solid #444;
    box-shadow: 0 5px 10px 0 rgba(19, 19, 19, 0);
  }
}

.btn-primary-color {
  background: #00b8de;
  border: 1px solid #00b8de;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0;
  min-height: 50px;
  padding: 6px 30px 5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
  position: relative;

  &:hover,
  &:focus {
    background: transparent;
    border: 1px solid #00b8de;
    color: #00b8de;
  }
}

/* End of general css */
.main-middle-area {
  padding: 90px 0 0 0;
  position: relative;
}

@media (min-width: 1025px) {
  /* no css */
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  body.overflow-fixed {
    overflow-y: hidden;
  }

  .position-fixed-custom {
    overflow: hidden;
  }

  .position-fixed-remove {
    .slideInDown {
      animation: none;
    }
  }

  .main-middle-area {
    padding: 70px 0 0 0;
  }
}

// custom animation
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
} // custom animation

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  body.overflow-fixed {
    overflow-y: hidden;
  }

  .position-fixed-custom {
    overflow: hidden;
  }

  .position-fixed-remove {
    .slideInDown {
      animation: none;
    }
  }

  .main-middle-area {
    padding: 70px 0 0 0;
  }
}
